.infos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2{
    margin: 40px 0px 50px 0px;
    text-align: center;
    font-weight: 500;

    font-size: var(--big-size);
    color: var(--text-color-2);
}

.topics_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;

    margin-bottom: 20px;
}

.topic_card{
    transition: 0.2s ease-in-out; 
}

.topics_container:has(.topic_card:hover) .topic_card:not(:hover) {
    filter: grayscale(70%);
}
.topic_card:hover{
    transform: scale(1.05);
}